/* CSS resets */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body {margin: 0; height: 100%; overflow: hidden}
body {
  background:url('https://e1.pxfuel.com/desktop-wallpaper/845/641/desktop-wallpaper-anime-weathering-with-you-hina-amano-pinterest-hodaka-morishima.jpg');
  font-size: 1.25rem; 
  width: 400px;
  height: 600px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
}
.toggle-info {
  display:flex;
  flex-direction: row;
  width: 100%;
}
.toggle-info button {
  font-size: 1.2rem;
  font-weight: 700;
  width: 50%;
  padding: 15px;
  background-color: rgba(135, 207, 235, 0.139);
  border: none;
  border-radius: 20px;
  transition: .5s;
}
.toggle-info button:hover {
  background-color: gray;
}
body .content {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(211, 211, 211, 0.736);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
#currentWebsite {
  font-size: 1.5rem;
  padding-top: 10px;
  color: cadetblue;
  font-weight: 700;
}
ul {
  list-style: none;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 20px ;
}
ul li {
  color:darkslategrey;
  padding: 5px;
  font-style: italic;
  transition-duration: 500ms;
}
ul li:first-child{
  font-size: 1.4rem;
}
ul li:hover {
  font-size: 1.5rem;
}
ul li:nth-child(2) {
  margin: 20px;
  transition: transform .7s ease-in-out;
}
ul li:nth-child(2):hover {
  transform: rotate(360deg);
}
#weatherGif {
  display: block;
  object-fit: cover;
  object-position: center;
  width: 200px;
  height: 150px;
}
#title-pic {
  display: flex;
  justify-content: center;
  align-items: center;
}
#Weather {
  display: none;
}